

html, body {
	background: $bg;
	font-family: 'Lato', sans-serif;
	color: $txt;
	width: 100%;
	height: 100%;
}




.ir {
	span {
		display: none;
	}
}

.clearfix {
	@include clearfix();
}




// default txt
.section-title {
	font-size: 18px;
	color: $pr;
	font-weight: 300;
	text-transform: uppercase;
	strong {
		font-weight: 300;
		display: block;
		font-size: 40px;
	}
}
.section-p {
	font-size: 16px;
	line-height: 23px;
	font-weight: light;
}

.section-subtitle {
	font-size: 20px;
	font-weight: 300;
	color: $pr;
	border-bottom: 1px solid #ddd;
	text-transform: uppercase;
	padding-bottom: 5px;
	margin-top: 30px;
}


/**
*
* text home
*
**/

.page-home {
	color: #fff;
	background: url(../img/page-home.jpg) center center no-repeat;
	background-size: cover;
	h1 {
		font-size: 27px;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	p {
		font-size: 20px;
		line-height: 26px;
		font-weight: 300;
	}

	img {
		width: 176px;
	}
}

.page-home_action {
	margin: 30px 0 0;
	position: relative;
	height: 56px;
	width: 100%;

	.btn-active {
		// background: white;
		// padding: 12px 16px 8px;
		border-radius: 5px;
		box-shadow: 0 0px 0px rgba(0,0,0,0);
		transition: $ts;
		img {
			display: block;
		}
		&:hover {
			transition: $ts;
			box-shadow: 0 2px 6px rgba(0,0,0,.4);
		}
	}
	img { 
		margin:0 !important;
		width: auto;
	}
}
.avise-me {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	height: 58px;
	width: 172px;
	border-radius: 5px;
	border: 1px solid white;
	background: rgba(white, .2);
	transition: $ts;
	overflow: hidden;
	.icon {
		position: absolute;
		transition: $ts;
		top: 14px;
		left: 18px;
		z-index: 99;
	}
	input {
		height: 40px;
		width: 0px;
		margin: 10px;
		border-radius: 3px;
		padding: 0;
		font-size: 20px;
		color: $pr;
		opacity: 0;
		transition: $ts;
	}
	.action-item {
		display: block;
		transition: $ts-s;
		border-radius: 3px;
		background: transparent;
		color: white;
		height: 40px;
		line-height: 40px;
		font-size: 18px;
		text-transform: uppercase;
		padding: 0 10px;
		font-weight: bold;
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
	}
	.submit {
		opacity: 0;
		top: 45px;
	}
	.back {
		opacity: 0;
	}
	&:hover {
		.submit {
			top: 10px;
			opacity: 1;
		}
		.placeholder {
			opacity: 0;
			top: -45px;
		}
	}
	.close {
		color: $txt;
		transition: $ts-s;
		position: absolute;
		font-size: 14px;
		width: 22px;
		height: 22px;
		display: block;
		line-height: 22px;
		text-align: center;
		opacity: 0;
		cursor: pointer;
		top: 20px;
		left: -10px;
	}
}
.form-active {
	.google-play {
		opacity: 0;
		transition: $ts;
	}
	.avise-me  {
		transition: $ts-s;
		width: 365px;
		input {
			transition: $ts-s;
			opacity: 1;
			width: 189px;
			padding: 0 30px 0 10px;;
		}
		.submit {
			transition: $ts-s;
			background: $pr;
		}
	}
	.icon {
		opacity: 0;
		left: -30px;
	}
	.submit {
		top: 10px;
		opacity: 1;
	}
	.placeholder {
		opacity: 0;
		top: -45px;
	}
	.close {
		opacity: 1;
		top: 20px;
		left: 210px;
		background: white;
		transition: $ts-s;
		&:hover {
			transition: $ts-s;
			color: white;
			background: $pr;
			border-radius: 3px;
		}
	}
}



/**
*
* o app
*
**/
.page-oapp {
	figure {
		position: relative;
		margin: 25px 0;
	}
	.alias {
		font-size: 20px;
		padding-left: 35px;
		margin-top: 40px;
		background: url(../img/icon-nowifi.gif) left 5px no-repeat;
		// background-size: 28px;
		line-height: 30px;
		display: inline-block;
	}	
}

.page-apoio {
	background: white;
}

/**
*
* vou agora
*
**/
.page-vouagora {

}



/**
*
* testimony
*
**/
.page-testimony_item {

	margin-top: 30px;
	position: relative;
	&.first {
		margin-left: 0;
	}
	p:first-child {
		font-size: 16px;
		font-style: italic;
		font-weight: 300;
		padding-right: 30px;
		&:before {
			content: "â€";
			display: block;
			font-size: 50px;
			font-weight: bold;
			font-style: normal;
			color: $pr;
			font-family: serif;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	.name {
		font-weight: 300;
		font-size: 16px;
		display: block;
		font-style: normal;
		border-top: 1px solid $pr;
		margin-top: 15px;
		padding-top: 15px;
		padding-right: 0;
		strong {
			font-weight: normal;
		}
	}
}

/**
*
* page apoio
*
**/

.page-apoio {
	text-align: center;
	padding: 30px 0;
	.section-subtitle,
	.section-p {
		text-align: left;
	}
	a {
		display: inline-block; 
		margin: 30px 0;
	}
}


/**
*
* page team
*
**/

.page-team {
	background: $pr;
	padding-bottom: 70px;
	padding-top: 40px;
	// -webkit-transform: translate3d(0,0,0);
	.section-subtitle {
		color: white;
		border-bottom-color: white;
	}
	.team-item {
		padding: 10px;
		background: white;
		border-radius: 2px;
		margin-top: 80px;
		box-shadow: 0 1px 1px rgba(0,0,0,.3);
		-webkit-transform: translate3d(0,0,0);
		&.first {
			margin-right: 20px;
		}
		> p {
			-webkit-transform: translate3d(0,0,0);
			line-height: 1.5;
			height: 140px;
		}
	}
	.head {
		margin-top: -50px;
		margin-bottom: 10px;
		img, .social, h2 {
			float: left;
		}
		h2, .social {
			margin-left: 15px;
			color: white;
			display: block;
			width: 68%;
		}
	}
	.social {
		margin-top: 25px;
		a {
			width: 22px;
			height: 22px;
			margin-right: 13px;
			float: left;
			background-image: url(../img/page-team_social.gif);
			background-repeat: no-repeat;
			opacity: .2;
			transition: $ts;
			&:hover {
				opacity: 1;
				transition: $ts;
			}
		}
	}
	.blog {
		background-position: 0 0;
	}
	.dribbble {
		background-position: 0 -39px;
	}
	.email  {
		background-position: 0 -77px;
	}
	.facebook {
		background-position: 0 -116px;
	}
	.github {
		background-position: 0 -155px;
	}
	.linkedin {
		background-position: 0 -194px;
	}
	.twitter {
		background-position: 0 -232px;
	}
	.behance {
		background-position: 0 -271px;
	}

}

/**
*
* page footer
*
**/
.page-footer {
	padding: 40px 0;
	.fb-page {
	}
	.page-footer-main {
		h1  {
			text-transform: uppercase;
			font-size: 24px;
		}
		p {
			font-weight: 300;
			font-size: 20px;
			margin-bottom: 10px;
		}
		.links {
			margin-top: 30px;
		}
		a {
			font-size: 146x;
			display: block;
			width: 100%;
			padding: 10px 0;
			color: $pr;
			transition: $ts;
			display: inline-block;
			&:hover {
				color: darken($pr, 15%);
				transition: $ts;
			}
		}
	}
}



.condicoes-de-uso {
	overflow: auto !important;
	.logo-site a {
		width: 100%;
		height: 100%;
	}
	.nav-site {
		position: static;
	}
	nav {
		padding: 10px 0 15px;
	}
}
/**
*
* free-text
*
**/
.free-text {
	color: #000;
	p {
		font-size: 16px;
		line-height: 1.5;
		margin-bottom: 15px;
	}
	strong {
		font-weight: bold;
	}
	ul {
		padding: 0 0 0 20px;
	}
	li {
		line-height: 1.5;
		list-style: disc;
	}
	h1 {
		font-size: 26px;
		margin: 20px 0 30px;
	}
	h2 {
		text-transform: uppercase;
		font-weight: 300px;
		color: $pr;
		font-size: 20px;
		margin-top: 30px;
		margin-bottom: 15px;
	}
	h3 {
		margin: 30px 0 10px;
		font-weight: bold;
	}
	a {
		color: $pr;
		font-weight: normal;
		&:hover {
			text-decoration: underline;
		}
	}
}


