@import "mixins";
@import "vars";
@import "fullpage";
@import "carousel";



.container {
	width: 940px;
	height: 100%;
	margin: 0 auto;
	display: table;
}
.container-center {
	display: table-cell;
	vertical-align: middle;
} 
.wrap {
	padding-top: 50px;
	width: 365px;
}

#fullpage,
.section {
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
}

/*============================
=            menu            =
============================*/
	.nav-site {
		position: fixed;
		z-index: 999;
		width: 100%;
		// transition: $ts-f;
		// left: 50%;
		// margin-left: -470px;
		.container {
			overflow: hidden;
			border-bottom: 1px solid #fff;
		}

		a {
			font-size: 14px;
			font-weight: 500;
			color: white;
			text-transform: uppercase;
			padding: 19px 0;
			margin-left: 33px;
			transition: $ts;
			&:hover {
				opacity: .8;
				transition: $ts;
			}
		}
		nav {
			float: right;
		}
		.logo-site {
			margin: 13px 0;
			cursor: pointer;
			position: relative;
		}
		.download {
			transition: $ts-f;
			opacity: 0;
			font-size: 14px;
			color: white;
			text-transform: uppercase;
			display: inline-block;
			border-radius: 3px;
			color: white !important;
			width: 0;
			margin: 0;
			padding: 0;
			// position: absolute;
			// right: -98px;
			// bottom: -1px;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#44abf8+0,1f86d2+100 */
			background: #44abf8; /* Old browsers */
			background: -moz-linear-gradient(top,  #44abf8 0%, #1f86d2 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#44abf8), color-stop(100%,#1f86d2)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #44abf8 0%,#1f86d2 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #44abf8 0%,#1f86d2 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #44abf8 0%,#1f86d2 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #44abf8 0%,#1f86d2 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44abf8', endColorstr='#1f86d2',GradientType=0 ); /* IE6-9 */
			&:hover {
				opacity: 0;
			}
		}
		.social {
			transition: $ts;
			padding: 0;
			position: relative;
			top: 6px;
			width: 23px;
			height: 23px;
			background: url(../img/icon-facebook.svg) center center;
			background-size: cover;
			&:hover {
				opacity: .8;
				transition: $ts;
			}
		}
		&.fixed {
			&.white {
				background: white;
				transition: $ts-f;
			}
			&.gray {
				transition: $ts-f;
				background: $bg;
			}
			.container {
				border-bottom-color: #eee;
			}
			a {
				color: #bbb;
				&:hover {
					color: $txt;
				}
			}
			.logo-site {
				background: url(../img/logo-site-blue@2x.png) center center no-repeat;
				background-size: cover;	
				transition: $ts-f;
			}
			.social {
				background: url(../img/icon-facebook-fixed.svg) center center;
				background-size: cover;
			}

			.download {
				opacity: 1;
				padding: 2px 5px;
				width: 85px;
				margin-left: 33px;
				transition: $ts-f;
			}
		}
	}
/*-----  End of menu  ------*/




/**
*
* home
*
**/

.page-home {
	background: $pr url(../img/page-home-full.jpg) center bottom;
	background-size: cover;
	-webkit-transform: translate3d(0,0,0);
	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 10%;
		background: white;
	}
	.load-btn {
		content: "";
		display: block;
		width: 16px;
		height: 16px;
		position: absolute;

		bottom: 3%;
		left: 50%;
		margin-left: -8px;

		background: url(../img/loader.gif) center center no-repeat;
		transition: $ts;
	}
	&.load .load-btn {
		transition: $ts;
		background: url(../img/page-home_down.gif) center center no-repeat;
		cursor: pointer;
	}
	.wrap {
		padding-left: 80px;
		padding-top: 0;
	} 
	img {
		margin-bottom: 70px;
	}
}

/**
*
* o app
*
**/

.page-oapp {
	background: url(../img/page-oapp.jpg) center bottom repeat-x;
	.container {
		height: 100%;
		position: relative;	
	}
	.page-oapp_iphone {
		position: absolute;
		right: 100px;
		bottom: 5%;
		height: 75%;
		opacity: 0;
		transition: $ts-f;
	}
	.section-title {
		padding-left: 80px;
		background: url(../img/icon-oapp.svg) left 7px no-repeat;
		background-size: auto 79%;
	}
	.section-p,
	.alias {
		@include translate(-100px, 0);
		opacity: 0;
	}
	.alias {
		font-size: 20px;
		padding-left: 35px;
		margin-top: 40px;
		background: url(../img/icon-nowifi.svg) left 2px no-repeat;
		background-size: 28px;
		line-height: 30px;
	}
	&.view {
		.page-oapp_iphone {
			right: -35px;
			opacity: 1;
			transition: $ts-f;
		}
		.section-p {
			@include animation(fadeLeft 1s .3s ease-out forwards); 
		}
		.alias {
			@include animation(fadeLeft 1s .6s ease-out forwards); 
		}
		figure {
			img {
				@include animation(fadeLeft 1s ease-out forwards); 
				&:first-child {
					@include animation(fadeLeft 1s ease-out forwards); 
				}
			}
		}
	}
	figure {
		img {
			@include translate(-100px, 0);
			opacity: 0;
		}
		img:first-child {
			position: absolute;
			left: -190px;
			top: 0;
		}
	}
}


/**
*
* vou agora
*
**/
.page-vouagora {
	background: url(../img/page-vouagora_bg.jpg) center center repeat-x;
	.section-title,
	.section-p,
	.dots {
		color: white;
		@include translate(-100px, 0);
		opacity: 0;
	}
	.container {
		position: relative;
	}
	.dots {
		margin-top: 75px;
		a {
			width: 12px;
			height: 12px;
			float: left;
			margin-right: 20px;
			transition: $ts;
			&.active {
				background: none !important;
				transition: $ts;
			}
		}
		.vouagora {
			border: 6px solid #fff;
			border-radius: 12px;
			background: white;
		}
		.trabalho {
			border: 6px solid #ffd51c;
			border-radius: 12px;
			background: #ffd51c;
		}
		.estudo {
			border: 6px solid #7ed321;
			border-radius: 12px;
			background: #7ed321;
		}
	}
	&.view {
		.section-title {
			@include animation(fadeLeft 1s ease-out forwards); 
		}
		.section-p {
			@include animation(fadeLeft 1s .3s ease-out forwards); 
		}
		.dots {
			@include animation(fadeLeft 1s .6s ease-out forwards); 
		}
	}
}

.mobile-sections_vouagora {
	display: block;
	img {
		position: relative !important;
	}
}
 

/*==============================
=            mobile            =
==============================*/

.mobile {
	position: fixed;
	left: 50%;
	margin-left: 10%;
	bottom: 5%;
	z-index: 99;
	height: 80%;
	transition: $ts-f;
	.mobile-img {
		width: auto;
		height: 100%;
		z-index: 10;
		position: relative;
	}
	&.pageApp-move {
		-webkit-transform: translate3d(0, 0, 0);
		margin-left: 0%;
		transition: $ts-f;
	}
	&.pageApp-mobile {
		.mobile-sections_oapp {
			// top: 0;
			opacity: 1;
			transition: $ts-l;
		}
	}
	&.pageVouagora {
		margin-left: 0%;
		position: absolute;
		.mobile-sections_home,
		.mobile-sections_oapp {
			opacity: 0;
			transition: $ts-l;
		}
		.mobile-sections_vouagora, .arrow {
			opacity: 1;
			transition: $ts-f;
		}
	}
	.arrow {
		width: 25px;
		height: 50px;
		display: block;
		position: absolute;
		top: 50%;
		margin-top: -17px;
		opacity: 0;
		transition: $ts;
		&.next {
			background: url(../img/page-vouagora_arrow.svg) right center no-repeat;
			background-size: auto 50px;
			right: -35px;
		}
		&.prev {
			background: url(../img/page-vouagora_arrow.svg) left center no-repeat;
			background-size: auto 50px;
			left: -35px;
		}
	}
}
.mobile-sections {
	position: absolute;
	top: 8%;
	right: 7%;
	left: 9%;
	bottom: 13%;
	z-index: 1;
	overflow: hidden;
	background: white;
	.mobile-sections_item {
		position: absolute;
		// top: 100%;
		left: 0;
		opacity: 0;
		transition: $ts-l;
		width: 100%;
		height: 100%;
		&:first-child {
			top: 0;
			opacity: 1;
		}
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
	}
}



/*-----  End of mobile  ------*/

/**
*
* page free
*
**/

.page-free .fp-tableCell {
	overflow: auto;
	display: block;
}
.page-free .relative {
	position: relative;
}

/**
*
* for user
*
**/
.page-foruser {
	margin-top: 100px;
	.page-foruser_img {
		float: left;
	}
	.wrap {
		float: right;
		width: 465px;
		padding: 0;
	}
	.section-title {
		margin: 30px 0;	
		strong {
			font-size: 39px;
		}
	}
}
.page-testimony_item {
	float: left;
	width: 273px;
	margin-left: 60px;
	margin-top: 30px;
	margin-bottom: 115px;
	position: relative;
	&.first {
		margin-left: 0;
	}
	p:first-child {
		font-size: 16px;
		font-style: italic;
		font-weight: 300;
		padding-right: 30px;
		&:before {
			content: "”";
			display: block;
			font-size: 50px;
			font-weight: bold;
			font-style: normal;
			color: $pr;
			font-family: serif;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	.name {
		font-weight: 300;
		font-size: 16px;
		display: block;
		font-style: normal;
		border-top: 1px solid $pr;
		margin-top: 15px;
		padding-top: 15px;
		padding-right: 0;
		strong {
			font-weight: normal;
		}
	}
}

/**
*
* page apoio
*
**/

.page-apoio {
	text-align: center;
	padding: 30px 0;
	.section-subtitle {
		text-align: left;
	}
	a {
		display: inline-block; 
		margin: 30px 100px;
	}
	p {
		text-align: left;
		margin: 10px 0 20px;
	}
}


/**
*
* page team
*
**/

.page-team {
	background: url(../img/page-team.jpg) center top fixed;
	background-size: cover;
	padding-bottom: 70px;
	padding-top: 40px;
	.section-subtitle {
		color: white;
		border-bottom-color: white;
	}
	.team-item {
		width: 440px;
		padding: 10px;
		background: white;
		border-radius: 2px;
		margin-top: 80px;
		float: left;
		box-shadow: 0 1px 1px rgba(0,0,0,.3);
		&.first {
			margin-right: 20px;
		}
	}
	.head {
		margin-top: -50px;
		margin-bottom: 10px;
		img, .social, h2 {
			float: left;
		}
		h2, .social {
			margin-left: 15px;
			color: white;
			display: block;
			width: 345px;
		}
	}
}

/**
*
* page footer
*
**/
.page-footer {
	padding: 40px 0;
	.fb-page {
		float: right;
		width: 460px;
	}
	.page-footer-main {
		float: left;
		width: 460px;
		h1  {
			text-transform: uppercase;
			font-size: 24px;
		}
		p {
			font-weight: 300;
			font-size: 20px;
			margin-bottom: 10px;
		}
		.links {
			margin-top: 30px;
			text-transform: uppercase;
		}
		a {
			font-size: 146x;
			display: block;
			width: 100%;
			padding: 10px 0;
			color: $pr;
			transition: $ts;
			display: inline-block;
			&:hover {
				color: darken($pr, 15%);
				transition: $ts;
			}
		}
	}
}


@include keyframes(up) {
	0% {
		@include translate(0, 100px);
		opacity: 0;
	}
	100% {
		@include translate(0, 0);
		opacity: 1;
	}
}

@include keyframes(fadeLeft) {
	0% {
		@include translate(-70px, 0);
		opacity: 0;
	}
	100% {
		@include translate(0, 0);
		opacity: 1;
	}
}





