@import 'reset';
@import 'mixins';
@import 'vars';


html, body {
	background: $bg;
	font-family: 'Lato', sans-serif;
	color: $txt;
	width: 100%;
	height: 100%;
	// -webkit-transform: translate3d(0,0,0);
}


.ir {
	span {
		display: none;
	}
}

.clearfix {
	@include clearfix();
}



.logo-site {
	width: 173px;
	height: 22px;
	float: left;
	background: url(../img/logo-site@2x.png) center center no-repeat;
	background-size: cover;	
	transition: $ts-f;
}

.section-title {
	font-size: 18px;
	color: $pr;
	font-weight: 300;
	text-transform: uppercase;
	strong {
		font-weight: 300;
		display: block;
		font-size: 40px;
	}
}
.section-p {
	font-size: 16px;
	line-height: 23px;
	font-weight: light;
}

.section-subtitle {
	font-size: 20px;
	font-weight: 300;
	color: $pr;
	border-bottom: 1px solid #ddd;
	text-transform: uppercase;
	padding-bottom: 5px;
	margin-top: 30px;
}

.page-home {
	color: #fff;
	h1 {
		font-size: 27px;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	p {
		font-size: 20px;
		line-height: 26px;
		font-weight: 300;
	}

	img {
		width: 176px;
	}

}

.page-oapp {
	figure {
		position: relative;
		margin: 25px 0;
	}	
}

.page-apoio {
	background: white;
}












