@import 'reset';
@import 'mixins';
@import 'vars';
@import 'base';
@import 'carousel-mobile';


.container {
	padding: 0 15px;
}

.section-title {
	strong {
		font-size: 30px;
	}
}

.mobile-hide {
	display: none;
}


// nav site
.nav-site {
	padding: 15px 0;
	position: fixed;
	left: 0;
	right: 0;
	background: white;	
	z-index: 99999;
	box-shadow: 0 0px 2px rgba(0,0,0,.2);
	opacity: 0;
	transition: $ts;
	&.fixed {
		opacity: 1;
		transition: $ts;
	}
	nav {
		display: none;
		width: 100%;
		clear: both;
		text-align: center;
		padding-top: 10px;
		margin-top: 20px;
		border-top: 1px solid $bg;
	}
	a {
		display: block;
		padding: 10px 0;
		color: $pr;
		text-transform: uppercase;
	}
	.social {
		display: none;
	}
}
.logo-site {
	width: 173px;
	height: 22px;
	float: left;
	background: url(../img/logo-site-blue@2x.png) center center no-repeat;
	background-size: cover;	
	transition: $ts-f;
	float: left;
}

.double-mac_with-bacon {
	background: none;
	float: right;
	margin-top: 5px;
	&:before, &:after, span {
		content: "";
		display: block;
		height: 2px;
		width: 22px;
		background: $pr;
		border-radius: 3px;
		margin-bottom: 5px;
		transition: $ts;
		position: relative;
	}	
	&.active {
		&:before {
			opacity: 0;
			transition: $ts;
		}
		span {
			@include rotate(45deg);
			@include transform-origin(50%);
		}
		&:after {
			@include rotate(-45deg);
			@include transform-origin(50%);
			top: -7px;
		}	
	}
}

/**
*
* home
*
**/

.page-home {
	text-align: center;
	img {
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.wrap {
		padding-bottom: 30px;
	}
	h1 {
		// text-align: left;
		font-size: 20px;
	}
	p {
		// text-align: left;
		font-size: 18px;
		line-height: 22px;
	}
}


.page-home_action {
	height: auto;
	.btn-active {
		display: inline-block;
		// margin-left: 15px;
		margin-right: 15px;
		margin-top: 7px;
		margin-bottom: 15px;
	}
	.avise-me {
		margin: 7px 15px 15px 0;
		position: relative;
		display: inline-block;
	}
}

.form-active {
	.avise-me  {
		width: 100%;
		margin: 7px 15px 15px 0;
		input {
			position: absolute;
			left: 0;
			width: 39%;
		}
	}
	.google-play {
		opacity: 1 !important;
	}
	.close {
		left: 47%;
		z-index: 999;
	}
}


.page-oapp {
	padding: 30px 0;
	text-align: center;
}

/**
*
* mobile
*
**/
.mobile {
	// display: none;
	width: 100%;
	img {
		width: 100%;
	}
	.mobile-img {
		display: none;
	}
}




/**
*
* page vou agora
*
**/
.page-vouagora {
	padding: 30px 0 20px;
	background: $pr;
	text-align: center;
	color: white;	
	.section-title {
		color: white;
	}
}
.mobile-sections_vouagora {
	margin-top: 50px;	
	// margin-bottom: 50px;	
}
.owl-item {	
    padding: 0 10px;
    box-sizing: border-box;
}
.owl-controls {
	position: absolute;
	top: -66px;
	left: 0;
	right: 0;
}
.owl-dots {
	margin-top: 20px;
	text-align: center;
	width: 100%;
	.owl-dot {
		width: 12px;
		height: 12px;
		margin: 0 10px;
		transition: $ts;
		display: inline-block;
		&.active {
			background: none !important;
			transition: $ts;
		}
		&:nth-child(1) {
			border: 6px solid #fff;
			border-radius: 12px;
			background: #fff;
		}
		&:nth-child(2) {
			border: 6px solid #ffd51c;
			border-radius: 12px;
			background: #ffd51c;
		}
		&:nth-child(3) {
			border: 6px solid #7ed321;
			border-radius: 12px;
			background: #7ed321;
		}
	}
}



/**
*
* page for user
*
**/

.page-foruser {
	padding: 0 0 30px 0;
	text-align: center;
	.section-title {
		margin: 15px 0;
		strong {
			font-size: 18px;
		}
		span {
			display: block;
			font-size: 30px;
		}
	}
	.page-foruser_img {
		width: 100%;
		height: 200px;
		background: url(../img/page-foruser.jpg) center center no-repeat;
		background-size: cover;
		position: relative;
		z-index: 1;
	}
	.wrap {
		z-index: 99;
		position: relative;
		margin-top: -62px;
		padding: 0 15px;
	}

}



/**
*
* Page apoio
*
**/
.page-apoio {
	.section-subtitle {
		margin: 0 0 10px;
	}
	a {
		margin: 10px 0 30px;
		width: 40%;
		display: inline-block;
		img {
			width: 100%;
			height: auto;
		}
	}
	.canarinho {
		float: left;
	}
	.mobilibus {
		float: right;
	}
}



/**
*
* page team 
*
**/
.page-team {
	padding: 30px 0;
	.section-subtitle {
		margin-top: 0;
	}
	.team-item {
		margin-top: 70px;
	}
	.head {
		margin-bottom: 10px;
		margin-top: -50px;
		text-align: center;
		.social, h2 {
		}
		img {
		}
		h2, .social {
			// color: white;
			display: block;
		}
	}
	.social a {
		margin: 10px 5px;
		float: none;
		display: inline-block;
		text-align: center;
	}
}



/**
*
* page footer
*
**/
.page-footer {
	.page-footer-main {
		margin-bottom: 50px;	
		p {
			margin-bottom: 0;
		}
	}
	
}










